# Secretos y variables de entorno (Evita vulnerabilidades en GitHub)
.env
.env.*
*.pem
*.key

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Node.js (Por si usan npm más adelante)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpetas de editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs generales
*.log
